*
{
    margin: 0px 0px;
}
.head
{
    width: 100%;
    height: 4rem;
    background-color: black;
    border: 0.1 solid orange;
    display: flex;
    border-bottom: 0.001rem solid white;
    animation: headAnimation 1s forwards; /* forwards keep the final state after timing ends */
    opacity: 0;
    animation-delay: 0.7s;
}
@keyframes headAnimation {
    
    to
    {
       opacity: 1;
    }
}
.name
{
   margin-top: 1rem;
   margin-left: 1rem;
   width: 6.7rem;
   height: 2rem;
   display: flex;
}
.nameProfile
{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}
.nameProfile img
{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 0.01rem solid rgb(37, 235, 15);
}
.namefont
{
    margin-left: 0.5rem;
   padding-top: 0.2rem;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.2rem;
   font-weight: bold;
   display: flex;
   justify-content: center;
}
.righthead
{
    width: 100%;
    margin-top: 1.1rem;
    margin-right: 0.4rem;
    height: 1rem;
    display: flex;
    justify-content: right;
    gap: 3rem;
    font-size: 1.2rem;
}
.home,
.about,
.projects,
.contact
{
    width: 4rem;
    height: 1.28rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}
a
{
    text-decoration: none;
}
.about:hover,
.home:hover,
.projects:hover,
.contact:hover
{
   border: 0.1rem solid yellow;
}

@media screen and (max-width: 750px) {
    .righthead {
        display: none;
               }
     .namefont
     {
        font-size: 0.96rem;
        padding-top: 0.4rem;
     }
          
}

.intro
{
    width: 100%;
    padding-top: 1rem;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.intro1
{
    width: 23rem;
    height: 27rem;
    background-color: black;
    justify-content: center;
}
.intro2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 27rem;
    background-color: black;
}
.hello
{
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  font-size: 1rem;
  color: yellow;
  font-weight: bold;
  font-family: arial;
}
.heading
{
    display: flex;
    gap: 1.5rem;
}
.im
{
   color: white; 
   font-size: 3rem;
   font-weight: bold;
}
.shivam,
.kumar
{
   color: yellow; 
   font-size: 3rem;
   font-weight: bold;
}
.frontend
{
   color: white; 
   font-size: 1.7rem;
   font-weight: bold;
}
@media screen and (max-width: 750px) {
    .im{
         font-size: 2.5rem;
    }
    .shivam,
    .kumar{
         font-size: 2.5rem;
    }
    .frontend{
         font-size: 1.5rem;
    }
          
}
.links
{
    display: flex;
    gap: 0.3rem;
}
.linkedin
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    background-color: rgb(25, 182, 235);
    border-radius: 1.6rem;
    cursor: pointer;
    color: black;
}
.instagram
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    background-color: rgb(221, 63, 15);
    border-radius: 1.6rem; 
    cursor: pointer;
}
.intro2 img
{
    width: 22rem;
    height: 26rem;
    border-radius: 6.5rem;
    position: relative; /* Provide Dynamic position to the image */
    animation: updown 3.5s; /*animation name,animation duartion */
    animation-timing-function: ease-in-out; /* start slow, fast in middle , slow at end */
    animation-iteration-count: infinite; /* Number of times animation runs */
}
@keyframes updown {
    0%
    {
        top: 0rem;
    }
    50%
    {
        top: 0.8rem;
    }
    100%
    {
        top: 0rem;
    }
}
.linkup
{
    width: 100%;
    height: 0.1rem;
    background-color: black;
}
.aboutmain
{
    margin-top: 1rem;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 2.8rem;
    font-weight: bold;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutintro
{
    width: 100%;
    padding-top: 1rem;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.aboutintro1
{
    width: 22rem;
    height: 28rem;
    background-color: rgb(13, 202, 86); 
}
.aboutintro2
{
    width: 23rem;
    height: 27rem;
    background-color: rgb(13, 202, 86);
}
.profile
{
    width: 22rem;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.profilephoto
{
    width: 10.6rem;
    height: 10rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilephoto img
{
    width: 8.2rem;
    height: 8.2rem;
    border-radius: 50%;
    border: 0.1rem solid white;
}
.profiletext
{
    width: 11rem;
    height: 10rem;
    background-color: black;
    color: grey;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.92rem;
    line-height: 1rem;
}
.skilldatabase
{
    max-width: 450px;
    padding-top: 0.5rem;
    width: 100%;
    height: 17.5rem;
    background-color: black;
}
.skilldatabase table
{
    width: 100%;
}
.skilldatabase table tr
{
    height: 1.7rem;
}
.skills
{
    width: 100%;
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
    font-weight: bold;
    font-family: arial;
    display: flex;
    justify-content: center;
}
.skilltext
{
    color: grey;
    font-size: 0.9rem;
    font-family: arial;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: center;
}
.bar
{
    width: 100%;
    height: 1rem;
    background-color: grey;
    border: 0.01rem solid black;
}
.htmlscore
{
    width: 90%;
    height: 1rem;
    background-color: yellow;
}
.cssScore
{
    width: 81%;
    height: 1rem;
    background-color: yellow; 
}
.javascriptscore
{
    width: 73%;
    height: 1rem;
    background-color: yellow; 
}
.statisticalscore
{
    width: 85%;
    height: 1rem;
    background-color: yellow;
} 
.aboutme
{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
.descryption
{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: left;
}
.aboutDesc
{
    padding-top: 0.5rem;
    width: 100%;
    height: 17.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
}
.descBox
{
    width:  100%;
    height: 17rem;
    background-color: black;
    display: flex;
    justify-content: center;
}
.descBox th
{
    width: 6rem;
    height: 2.3rem;
    text-align: left;
    font-weight: bold;
    color: white;
}
.descBox td
{
    color: white;
}
.project
{
    margin-top: 1rem;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 2.1rem;
    font-weight: bold;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectarea
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.facebookbox
{
    width: 20rem;
    height: 24rem;
    background-color: aqua;
    border: 0.01rem solid white;
}
.faceContents,
.instaContents,
.calculateContents,
.BioContents
{
    width: 20rem;
    height: 12.7rem;
    background-color: black;
}
.fac,
.ins,
.cac
{
    padding-top: 0.4rem;
    color: white;
    line-height: 1.5rem;
}
.boxcont
{
    padding-top: 0.4rem;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}
.facebookpic,
.instagrampic,
.calculatepic,
.Biodatapic
{
    width: 20rem;
    height: 11.3rem;
    background-color: rgb(14, 14, 15);
}
.facebookpic img,
.instagrambox img,
.calculatepic img,
.Biodatapic img
{
    width: 100%;
    height: auto;
}
.instagrambox
{
    width: 20rem;
    height: 24rem;
    background-color: aqua;
    border: 0.01rem solid white;
}
.calculator,
.BioDataChecker
{
    width: 20rem;
    height: 24rem;
    background-color: aqua;
    border: 0.01rem solid white; 
}

.contactme
{
    margin-top: 1rem;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 2.1rem;
    font-weight: bold;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactarea
{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.box
{
    width: 10rem;
    height: 10rem;
    background-color: black;
}
.boxfont
{
    margin-top: 0.3rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.box1footer
{
    color: grey;
}
.boldfooter
{
   font-weight: bold;
   font-size: 0.8rem;
   color: white;
}
.house,
.phone,
.gmail,
.twitter
{
    margin-top: 0.6rem;
}
.house img,
.phone img,
.gmail img,
.twitter img
{
    width: 3rem;
    height: 3rem;
}
.question
{
    width: 100%;
    height: 6.6rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}
.upperarrow
{
    width: 100%;
    height: 2rem;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
}
.arrowLink
{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(7, 238, 42);
    background-color: rgb(10, 238, 21);
    margin-right: 1.2rem;
}
.arrowLink img
{
    width: 1.5rem;
    height: 1.5rem;
}
.havea
{
    color: white;
    font-size: 1.7rem;
}
.click
{
    margin-left: 2rem;
    width: 7rem;
    height: 2.5rem;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.4rem;
    font-size: 0.9rem;
    font-family: arial;
    font-weight: bold;
    cursor: pointer;
    gap:0.2rem;
}
.click img
{
    width: 1.5rem;
    height: 1.5rem;
}
.copyright
{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
    padding-bottom: 1rem;
    text-align: center;
}







